.recent {
    color: #fff;
    padding: 0px 40px;
    cursor: pointer;
    margin-bottom: 40px;
    /* padding-bottom: 100px; */
}

.recent h3 {
    font-size: 1.5rem;
    margin-bottom: 20px;
}

.recent_first {
    display: flex;
    scrollbar-width: none;
}

.recent_first {
    overflow: scroll;
}

::-webkit-scrollbar {
    display: none;
}

.recent_second {
    margin-right: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    background-color: #161616dd;
    border-radius: 12px;
    transition: all 0.3s ease-in-out;
}

.recent_second:hover {
    transform: scale(1.03);
}

.recent_second img {
    width: 15rem;
    height: 13rem;
    margin-bottom: 12px;
}

.recent_second h4 {
    color: #727272;
    font-weight: normal;
}

@media screen and (max-width: 840px) {

    .recent_first {
        grid-template-columns: 1fr 1fr;
    }

    .recent_second h2 {
        font-size: 1.1rem;
    }

    .recent_second h4 {
        font-size: 1.0rem;
    }

    .recent_second {
        height: 12rem;

    }

}

@media screen and (max-width: 814px) {

    .recent_second {
        padding: 10px;
    }

    .recent_second img {
        width: 12rem;
        height: 10rem;
    }

}

@media screen and (max-width: 670px) {

    .recent_second img {
        width: 10rem;
        height: 8rem;
    }

    .recent_first {
        grid-template-columns: 1fr 1fr;
    }

}

@media screen and (max-width: 613px) {

    .recent_second img {
        width: 10rem;
        height: 8rem;
    }

    .recent_first {
        grid-template-columns: 1fr 1fr;
        grid-gap: 1em;
    }

}